<!-- <h1>SIGN UP</h1>
<form method="post" action="/customers/update/:id">
  USERNAME:<br>
  <input type="text" name="user_email" placeholder="Email" /><br>
  PASSWORD:<br>
  <input type="text" name="user_password" placeholder="customer name" value="<%= customer.name %>" /><br>

  <input type="submit" value="SUBMIT"/>
</form> -->
