<h1>CHANGE APPOINTMENT TIME</h1>
<form method="post" action="/timeslot/update/:id">
  STYLIST NAME:<br>
  <input type="text" name="slottime" placeholder="name" value="<%= timeslot.slottime %>" /><br>
  <input type="submit" value="EDIT APPOINTMENT TIME"/>
</form>
