<h1>ADD A STYLE </h1>
<form method="post" action="/styles">
  <input type="text" name="styles_name" placeholder="Hair Style"></input>
  <input type="text" name="styles_image" placeholder="image url ..."></input>
  <input type="text" name="duration" placeholder="How long is the cut... ?"></input>
  <input type="text" name="price" placeholder="How much does it cost ...?"></input>
  <input type="submit" value="ADD NEW STYLE"></input>
</form>
