<h1>ADD NEW CUSTOMER</h1>
<form method="post" action="/customers">
  <input type="text" name="customers_name" placeholder="customer"></input>
  <input type="submit" value="ADD NEW CUSTOMER"></input>
</form>
