
<h1>ADD NEW STYLIST</h1>

<form method="post" action="/stylist">
  <input type="text" name="name" placeholder="Stylist name" ></input>
  <input type="text" name="stylist_bio" placeholder="Stylist bio"></input>
  <input type="text" name="available" placeholder="true or false"></input>
  <input type="submit" value="ADD NEW STYLIST"></input>
</form>
