
<h1>SCHEDULE APPOINTMENT </h1>
<form method="post" action="/appointments">
  <input type="text" name="stylist_name" placeholder="Stylist"></input>
  <input type="text" name="customer_name" placeholder="Name"></input>
  <input type="text" name="style_name" placeholder="Style"></input>
  <input type="text" name="slottime" placeholder="time"></input>
  <input type="submit" value="CREATE APPOINTMENT"></input>
</form>
